
$tile-color-blue : #4B8DF8;
$tile-view-more-color-blue:#3781f7;
$tile-color-red : #d84a38;
$tile-view-more-color-red:#d23c29;
$tile-color-green : #35aa47;
$tile-view-more-color-green:#309a41;
$tile-color-purple : #8E44AD;
$tile-view-more-color-purple:#823e9e;
$tile-color-yellow : #dfba49;
$tile-color-light-blue: #89C4F4;
$tile-color-grey: #c6c6c6;
$header-color-icon :#C0CDDC;
$color-white: #fff;
$thumbnail-border-radius:0px;
$opacity-tile-icon:0.1;
$opacity-tile-view-more:0.5;