

<div class="addPlaceIcon" data-ng-click="newVisitedPlaceSubmitted = true; addNewVisitedPlace(visitedPlace)">
    <i class="fa fa-plus"></i>
</div>
<span>Add new visited place</span>

<div class="alert alert-danger" data-ng-show="newVisitedPlaceSubmitted && !addTravelForm.destination.$dirty && !addTravelForm.destonation.length">Fill in at least the name of the touristic atraction in order to add a new one!</div>

<div class="newVisitedPlaceForm">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" data-ng-class="{'has-error has-feedback' : newVisitedPlaceSubmitted && !addTravelForm.destination.$dirty && !addTravelForm.destonation.length }">
                <input class="form-control" type="text" name="visitedPlaceName" data-ng-model="visitedPlace.name" placeholder="Touristic atraction" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <fieldset>
            <div class="placeRating">
                <label class="rating-label">Give a rate and a review</label>
                <div class="rating-stars">

                    <div class="form-item">
                        <input id="place-rating-5" name="placeRating" type="radio" value="5" data-ng-model="visitedPlace.rating" />
                        <label for="place-rating-5" data-value="5">
                            <span class="rating-star">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </label>
                        <input id="place-rating-4" name="placeRating" type="radio" value="4" data-ng-model="visitedPlace.rating" />
                        <label for="place-rating-4" data-value="4">
                            <span class="rating-star">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </label>
                        <input id="place-rating-3" name="placeRating" type="radio" value="3" data-ng-model="visitedPlace.rating" />
                        <label for="place-rating-3" data-value="3">
                            <span class="rating-star">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </label>
                        <input id="place-rating-2" name="placeRating" type="radio" value="2" data-ng-model="visitedPlace.rating" />
                        <label for="place-rating-2" data-value="2">
                            <span class="rating-star">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </label>
                        <input id="place-rating-1" name="placeRating" type="radio" value="1" data-ng-model="visitedPlace.rating" />
                        <label for="place-rating-1" data-value="1">
                            <span class="rating-star">
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <textarea class="form-control" name="review" data-ng-model="visitedPlace.review" placeholder="Review" />
    </div>
</div>
</div>
    