<label>Visited attractions</label>
<div class="travel-attractions" ng-repeat="attraction in travel.attractions" ng-init="index = $index + 1">

    <article>
        <div class="attraction-article-header row">
            <div class="col-md-10 attraction-title">
                <span>{{attraction.name}}</span>
            </div>
            <div class="col-md-2 attraction-actions">
                <button type="button">Edit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 rated-attraction">
                <attraction-rating></attraction-rating>
                <div class="review-date">
                    <p> on {{attraction.date | date:'MMM dd, yyyy'}}</p>
                </div>
            </div>
        </div>
        <div class="travel-review">
            <p>
                {{attraction.review}}
            </p>
        </div>
    </article>
</div>