<label ng-if="travel.attractions.length">Visited attractions</label>
<div class="travel-attractions" ng-repeat="attraction in travel.attractions" ng-init="index = $index + 1; name = attraction.name; date = attraction.date; review = attraction.review">

    <article>
        <div class="row attraction-article-header">
            <div class="col-md-10 attraction-title">
                <span>{{name}}</span>
            </div>
            <div class="col-md-2 attraction-actions">
                <div class="edit-attraction animated-button">
                    <span class="glyphicon glyphicon-edit" data-ng-click="enableEditAttractionPopup(); attraction.isEditable = true; editAttractionPopup.initialLoad = false;"></span>
                </div>
                <div class="delete-attraction animated-button">
                    <span class="glyphicon glyphicon-remove-circle" data-ng-click="deleteAttraction(travel, attraction)"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 rated-attraction">
                <attraction-rating></attraction-rating>
                <div class="review-date">
                    <p> on {{date | date:'MMM dd, yyyy'}}</p>
                </div>
            </div>
        </div>
        <div class="travel-review">
            <p>
                {{review}}
            </p>
        </div>
    </article>
    
</div>

