<div class="rating-stars">
    <fieldset class="form-group">
        <div class="form-item">
            <input id="attraction-rating-{{index}}-5" name="attractionRating-{{index}}" type="radio" value="5" data-ng-model="attraction.rating" ng-disabled="{{readonly}}"/>
            <label for="attraction-rating-{{index}}-5" data-value="5">
                <span class="rating-star">
                      <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                      <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                    </span>
            </label>
            <input id="attraction-rating-{{index}}-4" name="attractionRating-{{index}}" type="radio" value="4" data-ng-model="attraction.rating" ng-disabled="{{readonly}}"/>
            <label for="attraction-rating-{{index}}-4" data-value="4">
                <span class="rating-star">
                      <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                      <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                    </span>
            </label>
            <input id="attraction-rating-{{index}}-3" name="attractionRating-{{index}}" type="radio" value="3" data-ng-model="attraction.rating" ng-disabled="{{readonly}}"/>
            <label for="attraction-rating-{{index}}-3" data-value="3">
                <span class="rating-star">
                      <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                      <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                    </span>
            </label>
            <input id="attraction-rating-{{index}}-2" name="attractionRating-{{index}}" type="radio" value="2" data-ng-model="attraction.rating" ng-disabled="{{readonly}}"/>
            <label for="attraction-rating-{{index}}-2" data-value="2">
                <span class="rating-star">
                      <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                      <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                    </span>
            </label>
            <input id="attraction-rating-{{index}}-1" name="attractionRating-{{index}}" type="radio" value="1" data-ng-model="attraction.rating" ng-disabled="{{readonly}}"/>
            <label for="attraction-rating-{{index}}-1" data-value="1">
                <span class="rating-star">
                      <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                      <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                    </span>
            </label>
        </div>
    </fieldset>
</div>