<div class="rating-stars">
    <fieldset class="form-group">
        <div class="form-item">
            <input id="travel-rating-5" name="ratedtravel" type="radio" value="5" ng-model="travel.rating" ng-disabled="{{readonly}}"/>
            <label for="travel-rating-5" data-value="5">
                <span class="rating-star">
                                          <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                                          <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                                        </span>
            </label>
            <input id="travel-rating-4" name="ratedtravel" type="radio" value="4" ng-model="travel.rating" ng-disabled="{{readonly}}" />
            <label for="travel-rating-4" data-value="4">
                <span class="rating-star">
                                          <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                                          <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                                        </span>
            </label>
            <input id="travel-rating-3" name="ratedtravel" type="radio" value="3" ng-model="travel.rating" ng-disabled="{{readonly}}" />
            <label for="travel-rating-3" data-value="3">
                <span class="rating-star">
                                          <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                                          <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                                        </span>
            </label>
            <input id="travel-rating-2" name="ratedtravel" type="radio" value="2" ng-model="travel.rating" ng-disabled="{{readonly}}" />
            <label for="travel-rating-2" data-value="2">
                <span class="rating-star">
                                          <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                                          <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                                        </span>
            </label>
            <input id="travel-rating-1" name="ratedtravel" type="radio" value="1" ng-model="travel.rating" ng-disabled="{{readonly}}" />
            <label for="travel-rating-1" data-value="1">
                <span class="rating-star">
                                          <i class="fa fa-star-o" ng-disabled="{{readonly}}"></i>
                                          <i class="fa fa-star" ng-disabled="{{readonly}}"></i>
                                        </span>
            </label>
        </div>
    </fieldset>
</div>