<div class="alert alert-success" ng-show="message">
    {{message}}
</div>
<form name="changePasswordForm" class="form" ng-submit="changePassword(changePasswordForm.$valid)" novalidate>
    <div class="row">
        <div class="col-md-4">
            <label>Current password</label>
        </div>
        <div class="col-md-6">
            <input name="txtCurrentPassword" class="form-control" type="password" ng-model="currentPassword" required ng-keypress="validateCurrentPassword()" />
            <div ng-messages="changePasswordForm.txtCurrentPassword.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>New password</label>
        </div>
        <div class="col-md-6">
            <input name="txtNewPassword" class="form-control" type="password" ng-model="newPassword" required />
            <div ng-messages="changePasswordForm.txtNewPassword.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Re-type new password</label>
        </div>
        <div class="col-md-6">
            <input name="txtConfirmNewPassword" class="form-control" type="password" ng-model="confirmNewPassword" compare-to="newPassword" />
            <div ng-messages="changePasswordForm.txtConfirmNewPassword.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>

    <input class="button submit-btn form-control" type="submit" value="Change password" />
</form>
