<div class="alert alert-success" ng-show="message">
    {{message}}
</div>
<div class="alert alert-danger" ng-show="errorMessage">
    {{errorMessage}}
</div>
<form name="userDetailsForm" class="form" ng-submit="updateUser(userDetailsForm.$valid)" novalidate>
    <div class="row" ng-if="userDetails.username">
        <div class="col-md-3">
            <label>Username</label>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" readonly="readonly" ng-model="userDetails.username">
        </div>
        <div class="col-md-3">
            <a href="#/changepassword">Change Password</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>First name</label>
        </div>
        <div class="col-md-4">
            <input name="txtFirstName" class="form-control" ng-model="userDetails.first_name" required>
            <div ng-messages="userDetailsForm.txtFirstName.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Last name</label>
        </div>
        <div class="col-md-4">
            <input name="txtLastName" class="form-control" ng-model="userDetails.last_name" required>
            <div ng-messages="userDetailsForm.txtLastName.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Email</label>
        </div>
        <div class="col-md-4">
            <input type="email" name="txtEmail" class="form-control" ng-model="userDetails.email">
            <div ng-messages="userDetailsForm.txtEmail.$error" ng-messages-include="errorMessages"></div>
        </div>
    </div>

    <input class="button submit-btn form-control" type="submit" value="Update" />
</form>