<style>


    .nonDraggableImage {
        -webkit-user-drag: none;
    }
    .slider {
        width: 800px;
        height: 400px;
        overflow: hidden;
        position: relative;
        background: #e6e6e6;
        border: 20px solid #FFF;
        margin-top: 20px;
    }
    .slide {
        position: absolute;
        top: 0;
        left: 0;
    }
    .arrow {
        position: absolute;
        z-index: 1002;
        display: block;
        top: 50%;
        margin-top: -35px;
        width: 36px;
        height: 71px;
        outline: none;
        cursor: pointer;
        background: url(../assets/img/blank.gif) no-repeat;
    }
    .arrow.prev {
        opacity: 0.2;
        left: 20px;
        background-image: url(../assets/img/paddle_prev_999.png);
        transition: 0.2s linear all;
    }
    .arrow.next {
        opacity: 0.2;
        right: 20px;
        background-image: url(../assets/img/paddle_next_999.png);
        transition: 0.2s linear all;
    }
    .arrow.prev:hover {
        opacity: 1;
        background-image: url(../assets/img/paddle_prev_fff.png);
    }
    .arrow.next:hover {
        opacity: 1;
        background-image: url(../assets/img/paddle_next_fff.png);
    }
    .slider_nav {
        text-align: center;
        display: block;
        position: absolute;
        z-index: 1002;
        left: 0;
        bottom: -4px;
        right: 0;
        height: 48px;
    }
    .slider_nav .wrapper {
        margin: 0 auto;
        width: 100%;
        padding: 1em 0 .8em;
    }
    .slider_nav ul {
        margin: 0;
        width: 100%;
    }
    .slider_nav .dot,
    .slider_nav .dot a {
        display: inline-block;
        zoom: 1;
    }
    .dots .dot {
        position: relative;
        margin: 0 8px;
        width: 12px;
        height: 12px;
    }
    .dots .dot a {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        background: #FFF;
        border: 1px solid transparent;
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: background-color 0.25s, border-color 0.25s;
        -moz-transition: background-color 0.25s, border-color 0.25s;
        transition: background-color 0.25s, border-color 0.25s;
    }
    .dots .dot a.active {
        border-color: #FFF;
        background-color: transparent;
    }
</style>



<div class="container slider">
    <img ng-repeat="slide in galleryImages" class="slide slide-animation nonDraggableImage" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.file}}">

    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
    <slider_nav class="slider_nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in galleryImages">
                    <a ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                </li>
            </ul>
        </div>
    </slider_nav>
</div>


<!-- SLIDER CODE OMITTED -->



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>





<form>
    <p>
        <label>Title</label>
        <input type="text" ng-model="image.title" />
    </p>

    <p>
        <label>Description</label>
        <textarea ng-model="image.description"></textarea>
    </p>

    <p>
        <label>Tags</label>
        <input type="text" ng-model="image.tags" />
    </p>

    <p>
        <label>Images</label>
        <input type="button" value="Add Image" ng-click="addImage()"/>
        <input type="file" id="imageField" value="Add"  ng-model-instant multiple onchange="angular.element(this).scope().setFiles(this)" />
        
        <div id="imageList">

            <div ng-repeat="file in files" style="display:inline-block">
                <img src="{{file.src}}" width="50" />
               
                <br />
                <span ng-click="removeImage('{{file.name}}_{{file.size}}')">X</span>
            
            </div>

        </div>
        <div></div>
    </p>

    <p>
        <input type="button" value="Save" ng-click="SaveGallery()" />
    </p>

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{upload.now}}" aria-valuemin="0" aria-valuemax="100" style="min-width:2em;width:{{upload.now}}%">
            {{upload.now}}%
        </div>
    </div>
    <div ng-app="fileUpload" style="background:yellow">
        
        Drop File:
        <div ng-file-drop ng-model="files" class="drop-box"
             drag-over-class="dragover" ng-multiple="true" allow-dir="true"
             accept=".jpg,.png,.pdf">Drop Images or PDFs files here</div>
        <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>

   

</form>


