<div class="messages">
    <div class="alert alert-danger" ng-message="required">Required</div>
    <div class="alert alert-danger" ng-message="minlength">Too short</div>
    <div class="alert alert-danger" ng-message="maxlength">Too long</div>
    <div class="alert alert-danger" ng-message="email">Invalid email address</div>
    <div class="alert alert-danger" ng-message="compareTo">Must match the previous entry</div>
    <div class="alert alert-danger" ng-message="duplicateUser">Username already exists</div>
    <div class="alert alert-danger" ng-message="incorrectPassword">Incorrect password! Please input your current password</div>
</div>