<div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail text-center">
      <img src="images/my_travels.png" alt="...">
      <span class="lead ">My Travels</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="#/addtravel" class="thumbnail text-center">
      <img src="images/add_travel.png" alt="...">
      <span class="lead">Add Travel</span>
    </a>

  </div>
  <div class="col-xs-12 col-md-14 text-center">
    <a href="#" class="thumbnail">
      <img src="images/map.jpg" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-6 text-center">
    <a href="#" class="thumbnail">
      <img src="images/attractions.png" alt="...">
       <span class="lead">Attractions</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-6 text-center">
    <a href="#" class="thumbnail">
      <img src="images/buddies_100x100.png" alt="...">
      <span class="lead">Buddies</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-3 text-center">
    <a href="#" class="thumbnail">
      <img src="images/chat_100x100.png" alt="...">
      <span class="lead">Chat</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="images/most_popular.png" alt="...">
      <span class="lead">Most Popular</span>
    </a>
  </div>
    <div class="col-xs-12 col-md-14 text-center">
    <a href="#" class="thumbnail">
      <img src="images/photos.png" alt="...">
      <span class="lead">Photos</span>
    </a>
  </div>
  
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail text-center">
      <img src="images/events_128x128.png" alt="...">
      <span class="lead ">Events</span>
    </a>
  </div>
  <div class="col-xs-6 col-md-6">
    <a href="#" class="thumbnail text-center">
      <img src="images/booking.png" alt="...">
      <span class="lead">Booking</span>
    </a>

  </div>
  
</div>
